.container{
    margin-bottom: 15px;
    padding:10px;
    background-color: var(--dark);
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.col{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.col p{
    font-size: larger;
}