.container{
    margin:20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}
.formContainer {
    background-color: var(--dark);
    padding: 40px;
    width: 90%;
    margin-top: 3vh;
    border-radius: 10px;
    color: var(--white);
    // display:flex;
}
.formContainer p{
    margin-bottom: 0;
}
.formGroup {
    padding-bottom: 5px;
    width:90%;
}

.control{
    background-color: var(--dark);
    color: var(--formBorder)
}

.control:focus{
    background-color: var(--dark);
    color:var(--white);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: var(--formBorder);
}

//Chrome, etc
.control::-webkit-inner-spin-button,
.control::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.control[type='number']{
    -moz-appearance: textfield;
}